/* TODO: Spot Details Page Styles */
#spot-details-wrapper {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 70px 20px;
}

#detail-card {
    border-bottom: 1px solid lightgrey
}
