.spotsList__page-wrapper {
  margin: 70px 1em 1em 1em;
  padding: 2em 30px;
}

.spotsList__list-wrapper {
  --gap: 10px;
  --num-cols: 4;

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  gap: var(--gap);
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .spotsList__list-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
