.spot-card__buttons button {
    margin: 5px 5px 0 0;
    padding: 0.5em;
    font-size: 14px;
    color: white;
    background-color: grey;
    box-shadow: 0px 0px 10px lightgrey;
    border-radius: 10px;
    width: 5em;
}

.spot-card__image {
    object-fit: cover;
    width: 14em;
    height: 14em;
    border-radius: 15px;
}

.spot-card__line-1 {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.spot-card__wrapper {
    width: 14em;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    cursor: pointer;
}
