a {
  text-decoration: none;
  color: red;
}

ul {
  list-style: none;
  position: fixed;
}

.nav {
  width: 100%;
  height: 70px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px lightgrey solid;
  background-color: white;
  /* TODO: fix this*/
  /* position: fixed shows tiny gap at top of screen */
  position: fixed;
}

.hidden {
  display: none;
}

#root {
  /* WHY DOES DOING THIS ALMOST FIX IT?? */
  border: 1px solid white;
}
