li {
    margin: 3px 0px;
    /* TODO: fix cursor being pointer on non-clickable list items */
    cursor: pointer;
    font-size: 14px;
}

.profile-button {
    border: 1px solid lightgrey;
    border-radius: 30px;
    padding: 5px 5px 5px 12px;
    width: 70px;
    height: 38px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: grey;
}

.profile-button:focus {
    box-shadow: 0px 2px 3px lightgrey;
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    min-width: 10em;
    width: auto;
    height: auto;
    right: 1em;
    margin-top: 10px;
    padding: 0.5em;
    background-color: white;
    box-shadow: 0px 0px 10px lightgrey;
    border-radius: 15px;
}

.profile-createSpot-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15em;
}

#create-spot-link {
    font-size: 14px;
    color: teal;
}

#dropdown-wrapper {
    display: flex;
    flex-direction: column;
}

#logout-button {
    border: 1px solid black;
    border-radius: 30px;
    color: white;
    background-color: grey;
    width: auto;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 14px;
}

#logout-button-wrapper{
    display: flex;
    justify-content: center;
}

#manage-spots {
    border-bottom: 1px solid lightgrey;
    padding: 5px 0;
}


#user-info {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 5px;
}
